.showoff
  bs-font-size(35)
  line-height: 150%;
  margin-bottom: BS * 50;
  &__grid
    display: flex;
    flex-wrap: wrap;
    &:nth-child(even)
      flex-direction: row-reverse;
      .showoff__text
        text-align: right;
      .showoff__toollist
        justify-content: flex-end;
  &__gridelement
    width: 50%;
  &__imagegrid
    display: flex;
    flex-wrap: wrap;
  &__image
    width: 50%;
    height: auto;
    align-self: center;
    &:first-child
      width: 100%;
  &__text
    padding: BS * 50;
  &__title
    bs-font-size(55);
    margin-bottom: BS * 35;
  &__description
    margin-bottom: BS * 35;
    color: rgba(255,255,255,0.5);
  &__links
    margin-bottom: BS * 35;
    color: rgba(255,255,255,0.5);
    a
      &:hover
        color: rgba(255,255,255,1);
  &__toollist
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: BS * 35;
    &:last-child
      margin-bottom: 0;
  &__toollistelement
    position: relative;
    margin-right: BS * 50;
    color: rgba(255,255,255,0.5);
    transition: color 0.3s ease-out;
    cursor: default;
    &:hover
      color: rgba(255,255,255,1)
    &:after
      content: '';
      position: absolute;
      top: 50%;
      right: BS * -25;
      width: BS * 8;
      height: BS * 8;
      border-radius: 50%;
      transform: translate(50%, -50%);
      background: rgba(255,255,255,0.5);
      border-top: solid BS rgba(255,255,255,1);
      box-sizing: border-box;
    &:last-child
      margin-right: 0;
      &:after
        content: none;


@media BreakpointM
  .showoff
    bs-font-size(65);
    &__title
      bs-font-size(90);
    &__grid
      flex-direction: column;
      margin-bottom: BS * 100;
      &:last-child
        margin-bottom: 0;
      &:nth-child(even)
        .showoff__text
          text-align: left;
        .showoff__toollist
          justify-content: flex-start;
    &__gridelement
      width: 100%;


@media BreakpointXS
  .showoff
    bs-font-size(120);
    &__text
      padding: BS * 100;
    &__title
      bs-font-size(160);
      margin-bottom: BS * 80;
    &__links
      margin-bottom: BS * 80;
    &__grid
      flex-direction: column;
      margin-bottom: BS * 300;
      &:last-child
        margin-bottom: 0;
      &:nth-child(even)
        .showoff__text
          text-align: left;
        .showoff__toollist
          justify-content: flex-start;
    &__toollistelement
      margin-right: BS * 200;
      &:after
        right: BS * -100;
        width: BS * 32;
        height: BS * 32;
    &__description
      margin-bottom: BS * 80;
